<ion-header>
  <ion-toolbar>
    <ion-title>O to P</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>OAKLEY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/1.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OCTAGON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OISHII MAKI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/3.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ONESIMUS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/4.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ON-WARD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/5.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OPPO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/6.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ORIGINAL PENGUIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/7.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OUR HOME</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/8.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OWNDAYS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/9.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OWWA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/10.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>OXYGEN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/11.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PACSAFE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/12.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PAG-IBIG</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/13.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PAMPANGA BINGO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/14.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PANDORA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/15.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PAPEMELROTI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/16.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PARFOIS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/17.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PAYLESS SHOESOURCE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/18.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PC DOMAIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/19.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PC SQUARE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/20.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PD PRIMADONNA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/21.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PENSHOPPE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/22.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PEPPER LUNCH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/23.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PERSIAN AVENUE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/24.jpg">
        LOCATION - OUTDOOR, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PHILHEALTH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/25.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PHILIP STEIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/26.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PHILPOST</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/27.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PHONIX CELLULAR</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/28.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PHOTOLINE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/29.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PICTURE CITY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/30.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PINCTADA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/31.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PIZZA HUT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/32.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PLAINS & PRINTS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/33.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>POEA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/34.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>POINTS AND DOTS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/35.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>POSH NAILS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/36.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>POTATO CORNER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/37.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>POWER MAC CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/38.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PRESTIGE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/39.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>PRIME STEAK HOUSE-UNLIMITED IMPORTED STEAK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/8/40.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>