<ion-header>
  <ion-toolbar>
    <ion-title>U to V</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>UNIQLO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/1.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>UNISILVER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/2.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>VAPE KING</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>VIKINGS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/4.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>VISION EXPRESS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/5.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>VIVO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/11/6.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>