ion-toolbar {
    --background: #fff;
    color: black;
}

.container {
    margin-top: 10%;
}

.sm-pic {
    width: 370px;
    height: 170px;
}

.sm-map {
    border: 1px solid;
}

.button {
    display: block;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}