<ion-header>
  <ion-toolbar>
    <ion-title>E to F</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>EGG</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/1.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ELECTROWORLD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>7 ELEVEN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>EMO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/4.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ENFANT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/5.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>EXECUTIVE OPTICAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/6.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FAMOUS BELGIAN WAFFLES</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/7.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FLAWLESS FACE AND BODY CLINIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/8.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FLORSHEIM KIDS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/9.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FONERANGE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/10.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FONERANGE SERVICE CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/11.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FORME</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/12.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FOSSIL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/13.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>FRESHAIRE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/3/14.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>