<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to SM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <ion-card>
      <ion-card-content>
        Welcome back to the #LongestMallinPH, SM City Pampanga! Here’s the 
        updated list of open stores available for you!
        <img src="assets/list/guide.jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-content>
        Find your favorite store, shop, restaurant and dining experience in SM 
        City Pampanga.
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="pricetags"></ion-icon>
        RETAIL ANCHORS
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Retail/retail (1).jpg">
        <img src="assets/list/Retail/retail (2).jpg">
        <img src="assets/list/Retail/retail (3).jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="build"></ion-icon>
        SERVICES
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Services/service (1).jpg">
        <img src="assets/list/Services/service (2).jpg">
        <img src="assets/list/Services/service (3).jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="diamond"></ion-icon>
        SPECIALTY SHOPS
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Specialty/special (1).jpg">
        <img src="assets/list/Specialty/special (2).jpg">
        <img src="assets/list/Specialty/special (3).jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="shirt"></ion-icon>
        FASHION & APPAREL
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Fashion/fashion (1).jpg">
        <img src="assets/list/Fashion/fashion (2).jpg">
        <img src="assets/list/Fashion/fashion (3).jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="restaurant"></ion-icon>
        FOOD
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Food/food (1).jpg">
        <img src="assets/list/Food/food (2).jpg">
        <img src="assets/list/Food/food (3).jpg">
        <img src="assets/list/Food/food (4).jpg">
        <img src="assets/list/Food/food (5).jpg">
        <img src="assets/list/Food/food (6).jpg">
        <img src="assets/list/Food/food (7).jpg">
        <img src="assets/list/Food/food (8).jpg">
        <img src="assets/list/Food/food (9).jpg">
        <img src="assets/list/Food/food (10).jpg">
        <img src="assets/list/Food/food (11).jpg">
        <img src="assets/list/Food/food (12).jpg">
        <img src="assets/list/Food/food (13).jpg">
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-icon name="phone-portrait"></ion-icon>
        CYBERZONE
      </ion-card-header>
      <ion-card-content>
        <img src="assets/list/Cyberzone/cyber (1).jpg">
        <img src="assets/list/Cyberzone/cyber (2).jpg">
        <img src="assets/list/Cyberzone/cyber (3).jpg">
        <img src="assets/list/Cyberzone/cyber (4).jpg">
        <img src="assets/list/Cyberzone/cyber (5).jpg">
      </ion-card-content>
    </ion-card>
  </div>
  <br>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-tab-button>

  <ion-tab-button routerLink="/subpage">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>