<ion-header>
  <ion-toolbar>
    <ion-title>Y to Z</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>YAKIMIX</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/1.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>YELLOW CAB</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/2.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ZAGU</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/3.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ZARKS BURGERS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/4.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ZEN ZEST</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/5.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ZH&K MOBILE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/13/6.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>