<ion-header>
  <ion-toolbar>
    <ion-title>A to B</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>ACCESSORIUM</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/1.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ACE HARDWARE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/2.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ACER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AFFINITEA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/4.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AFICIONADO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/5.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AHHA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/6.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ALBERTO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/7.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ALFAMART</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/8.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ALL ABOUT BAKING</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/9.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AMBIKA KIDZ FUN BOX</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/10.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AMERICAN EAGLE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/11.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ANELLO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/12.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ANKER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/13.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>APPLE & EVE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/14.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AQUAFLASK</ion-card-header>
      <ion-card-content>
        <img class="aquaflask" src="assets/directory/1/15.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AQUA MINERAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/16.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ARMY NAVY BURGER BURRITO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/17.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ARROW</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/18.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ART 68 COFFEE CORNER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/19.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ASIANIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/20.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ASPREY TIME</ion-card-header>
      <ion-card-content>
        <img class="asprey" src="assets/directory/1/21.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ASUS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/22.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AUDIONET</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/23.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>AUNTIE ANNE'S</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/24.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BACOLOD CHICKEN INASAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/25.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BANCO DE ORO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/26.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BANH MI KITCHEN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/27.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BANK OF THE PHILIPPINE ISLANDS </ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/28.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BARRIO FIESTA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/29.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BASKIN ROBBINS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/30.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BAVIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/31.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BAYO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/32.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BBB CAR STICKERS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/33.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BEAUCHE INTERNATIONAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/34.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BEAUTA DERM</ion-card-header>
      <ion-card-content>
        <img class="beauta" src="assets/directory/1/35.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BENCH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/36.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BENCH BODY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/37.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BENCH FIX SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/38.png">
        LOCATION - UGF/GF/FF, 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BERLEIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/39.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BETTY'S NATIVE CAKE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/40.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BIBINGKINITAN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/41.jpg">
        LOCATION - OUTDOOR, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BIKE PLUS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/42.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BIOESSENCE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/43.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BLK 513</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/44.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BL PETSHOP SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/45.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BLUE MAGIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/46.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BONCHON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/47.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BOTEJYU</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/48.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BRATPACK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/49.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BREADTALK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/50.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BROW LOUNGE EYEBROW GROOMING AND WAXING SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/51.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BROWNIES UNLIMITED</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/52.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>BURGER KING</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/1/53.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>