<ion-header>
  <ion-toolbar>
    <ion-title>S to T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>SAMGYEOPMASARAP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/1.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SAMSUNG</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SCOOP PROJ. BY PAPERDOLLS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/3.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SCREEN SECURE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/4.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHAKEY'S</ion-card-header>
      <ion-card-content>
        <img class="shakeys" src="assets/directory/10/5.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHAPES</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/6.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHAWARMA SHACK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/7.jpg">
        LOCATION - OUTDOOR, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHIAHAIR SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/8.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHIMMIAN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/9.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SHOWCASE CARPET</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/10.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SILICON VALLEY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/11.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SILVER WINGS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/12.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SILVERWORKS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/13.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SIOMAI HOUSE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/14.jpg">
        LOCATION - OUTDOOR, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SKECHERS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/15.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SKIN STATION</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/16.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SM APPLIANCE CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/17.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SMART</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/18.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SM CINEMA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/19.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SM FOODCOURT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/20.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SM SUPERMARKET</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/21.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SPORTS CENTRAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/22.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SSS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/23.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>STARBUCKS COFFEE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/24.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SUMO NIKU UNLIMITED JAPANESE BARBEQUE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/25.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>SURPLUS SHOP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/26.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE BEAUTY LAB SKIN BODY CLINIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/27.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE BODY SHOP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/28.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE COFFEE BEAN & TEA LEAF</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/29.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE FACE SHOP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/30.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE FRENCH BAKER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/31.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>THE SM STORE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/32.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TJN PASALUBONG</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/33.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TOBY'S</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/34.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TOKYO TOKYO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/35.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TOM'S WORLD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/36.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TOY KINGDOM</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/37.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>TRIBAL GEAR</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/38.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TRONIX IMAGING CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/39.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>TURKS SHAWARMA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/10/40.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>
        
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>