<ion-header>
  <ion-toolbar>
    <ion-title>Mall Directory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    Select an option to explore
  </div>
  <div class="buttons">
    <div class="button">
      <ion-button color="dark" shape="round" (click)="part1()" routerLink="/part1">A to B</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part2()" routerLink="/part2">C to D</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part3()" routerLink="/part3">E to F</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part4()" routerLink="/part4">G to H</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part5()" routerLink="/part5">I to J</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part6()" routerLink="/part6">K to L</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part7()" routerLink="/part7">M to N</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part8()" routerLink="/part8">O to P</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part9()" routerLink="/part9">Q to R</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part10()" routerLink="/part10">S to T</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part11()" routerLink="/part11">U to V</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part12()" routerLink="/part12">W to X</ion-button>
    </div>

    <div class="button">
      <ion-button color="dark" shape="round" (click)="part13()" routerLink="/part13">Y to Z</ion-button>
    </div>
  </div>
  <br>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-tab-button>
  
  <ion-tab-button routerLink="/info">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>