<ion-header>
  <ion-toolbar>
    <ion-title>I to J</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>IAN DARCY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/1.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>IDEAL VISION CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/2.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>I-LASH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/3.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>IMONO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/4.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>INBOX STORE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/5.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>INFINITEA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/6.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>INFONEC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/7.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>I.TECH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/8.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>JAG JEANS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/9.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>JB MUSIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/10.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>JB SPORTS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/11.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>J.CO DONUTS COFFEE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/12.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>JUST JEWELS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/13.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>JOLLIBEE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/5/14.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
      
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>