<ion-header>
  <ion-toolbar>
    <ion-title>C to D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>CABALEN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/1.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CANON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CARICA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/3.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CELLBOY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/4.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHATIME</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/5.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHEF TONY'S POPCORN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/6.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHINA BANK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/7.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHINGU BUKO HOUSE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/8.jpg">
        LOCATION - OUTDOOR, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHOWKING</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/9.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CHRIS SPORTS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/10.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CLASSIC SAVORY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/11.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CLN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/12.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>COCO FRESH TEA AND JUICE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/13.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>COLORADO PHOTO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/14.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>COMPUWARE COMPUTER CENTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/15.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>COTTON ON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/16.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CROCS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/17.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CRYSTAL SQUARE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/18.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>CUTS 4 TOTS HAIR SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/19.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DAILY DETOX JUICES</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/20.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DAIRY QUEEN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/21.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DAKASI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/22.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DANIEL HECHTER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/23.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DAVID'S FOR REVER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/24.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DAVID'S TEA HOUSE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/25.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DC SHOES</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/26.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DERMCARE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/27.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DERMSTRATA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/28.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DIGIBABE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/29.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DIGI BOSS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/30.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DIGI MERCADO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/31.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DIGI STAMPS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/32.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DIGITAL AXIS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/33.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DOCTOR LEATHER</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/34.png">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>DUNKIN DONUTS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/2/35.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>