<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        ABOUT
      </ion-card-header>
      <ion-card-content>
        This app was made as a submission for our Case Study in
        Mobile Application Development (IT-IPT02) subject.
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        Developers
      </ion-card-header>
      <ion-card-content>
        <p>Daniel John M. Pantalunan</p>
        <p>Aljohn O. Castillo</p>
        <p>John Justine O. Linsangan</p>
        <p>BSIT 3C</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        Notice
      </ion-card-header>
      <ion-card-content>
        Some information are not yet included in the app since it
        is still in development stage. Please bear with us. Thank you.
      </ion-card-content>
    </ion-card>
  </div>
  <br>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-tab-button>
  
  <ion-tab-button routerLink="/info">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>