<ion-header>
  <ion-toolbar>
    <ion-title>M to N</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>MACAO IMPERIAL TEA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/1.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MAIL PLUS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/2.png">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MANG INASAL</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MASTER SIOMAI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/4.jpg">
        LOCATION - OUTDOOR, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MCDONALD'S</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/5.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MEMO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/6.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MENDREZ</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/7.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MESA FILIPINO MODERNE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/8.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ME&U GIFT SHOP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/9.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/10.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MINISO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/11.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MISTER DONUT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/12.jpg">
        LOCATION - OUTDOOR, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>M LHUILLIER JEWELLERS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/13.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MOSSIMO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/14.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MOSSIMO KIDS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/15.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MOTOWORLD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/16.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MR.KIMBOB</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/17.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MR.PARKS BREAD CAKE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/18.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>MX MEMOXPRESS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/19.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NAILAHOLICS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/20.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NATHANIEL'S</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/21.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NATIONAL BOOKSTORE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/22.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NEW ERA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/23.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NIKE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/24.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KNISCE SKIN 'N FACE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/25.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>NOKIA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/7/26.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>