<ion-header>
  <ion-toolbar>
    <ion-title>Q to R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>QUANTUM</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/1.png">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>RACKS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/2.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>RAMEN NAGI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>RCC AMAZING TOUCH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/4.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>REALME</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/5.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>RED RIBBON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/6.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>REGATTA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/7.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>REMAX</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/8.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>ROVER SYSTEMS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/9.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>RULLS CELLPHONE AND ACCESSORIES  </ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/9/10.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>