<ion-header>
  <ion-toolbar>
    <ion-title>G to H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>GARMIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/1.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GERRY'S RESTAURANT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GIGAHERTZ COMPUTER SYSTEM</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GILIGAN'S RESTAURANT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/4.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GINGERSNAPS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/5.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GINTELL SHOWROOM</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/6.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GIORDANO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/7.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GLOBE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/8.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GOLDILOCKS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/9.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GONG CHA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/10.png">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GQ BARBERSHOP</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/11.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GREAT IMAGE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/12.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GREEN PUFF</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/13.jpg">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GREENWICH</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/14.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>GUESS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/15.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HALO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/16.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HAVAIANAS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/17.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HEALTHY OPTIONS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/18.jpg">
        LOCATION - UGF/GF/FF, BUILDING 4
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>H&M</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/19.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HUAWEI</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/20.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HUMAN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/21.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HUSH PUPPIES</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/22.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>HYDRO FLASK</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/4/23.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>