<ion-header>
  <ion-toolbar>
    <ion-title>K to L</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>KAMAY KAINAN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/1.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KAMISETA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/2.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KARAOKE HUB</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KARAT WORLD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/4.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KARIMADON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/5.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KENNY ROGERS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/6.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KETTLE CORN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/7.png">
        LOCATION - OUTDOOR, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KFC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/8.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KRISPY KREME</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/9.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KUSINA NI GRACIA</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/10.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>KUYA J RESTAURANT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/11.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LAY BARE WAXING SALON</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/12.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LAZER MUSIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/13.png">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LBC EXPRESS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/14.png">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LE JEAN DE MARITHE FRANCOIS GIRBAUD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/15.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LE ROUX CULINARY ACADEMY</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/16.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LET'S FACE IT</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/17.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LIGHTERS GALORE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/18.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LIL ORBITS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/19.jpg">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LLAO LLAO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/20.png">
        LOCATION - UGF/GF/FF, BUILDING 3
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LOTTO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/21.png">
        LOCATION - 2ND FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>L TIME STUDIO</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/22.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>LYRIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/6/23.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>