<ion-header>
  <ion-toolbar>
    <ion-title>W to X</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>WATCH REPUBLIC</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/1.jpg">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>WATSONS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/2.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>WILLGAIN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/3.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>WORLD OF FUN</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/4.png">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>WRIST_POD</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/5.png">
        LOCATION - UGF/GF/FF, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>WWW EXPRESS</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/6.jpg">
        LOCATION - 3RD FLOOR, MAIN BUILDING
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>X-QUISITE</ion-card-header>
      <ion-card-content>
        <img class="img" src="assets/directory/12/7.jpg">
        LOCATION - UGF/GF/FF, BUILDING 2
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/directory">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>